body{
 
    background-image: url("https://img2.goodfon.com/wallpaper/nbig/8/2f/ezhik-bumaga-origami-fon.jpg");
    
    }
h3{
   
    color:rgb(0, 14, 14) ;
    margin-left:350px;
    margin-bottom:20px;
    font-size:100px;
  }
  p{
   
    color:rgb(168, 218, 215) ;
    margin-left:90px;
    margin-bottom:30px;
    font-size:50px;
  }
  