body{
 
    background-image: url("https://i.pinimg.com/originals/17/d6/2b/17d62be70859d3f9fb1d5f327073849d.jpg");
    
    }
    h2{
   
        color:rgb(0, 14, 14) ;
        margin-left:150px;
        margin-bottom:20px;
        font-size:100px;
      }
      p{
   
        color:rgb(0, 0, 0) ;
        margin-left:80px;
        margin-bottom:20px;
        font-size:50px;
      }
      a3{
     color:rgb(0,0,0);
    margin-left:150px;
    margin-bottom:20px;
        
      }