body{
 
    background-image: url("https://i.pinimg.com/originals/f0/79/80/f07980d6b7cdb5655e2d19cf4e0b52df.jpg");
    
    }
h1{
   
    color:rgb(0, 14, 14) ;
    margin-left:350px;
    margin-bottom:40px;
    font-size:100px;
       }
a{
    
    color:rgb(7, 0, 4) ;
    margin-left:360px;
    margin-bottom:20px;
    font-size:40px;
       }
       
.camel{
margin-left:550px;
margin-top:80px;
           }
.camelfacts{
    margin-left:370px;
    margin-bottom:220px;
    font-size:20px;
}



    
        